@charset "UTF-8";
/* Variables */
body {
  margin: 0;
  padding: 0;
  height: 100%; }

/* Header */
.header {
  width: 100%;
  position: sticky;
  top: 0px;
  z-index: 2; }

.bg-light {
  background-color: #b9e0cb !important; }

#navbarNav {
  justify-content: flex-end;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 35px;
  padding-top: 35px;
  color: #fcfffd !important; }
  #navbarNav #navbarNav:hover {
    color: darkmagenta !important; }

.navbar-light .navbar-nav .nav-link {
  color: #fcfffd; }

.navbar-light .navbar-nav .active > .nav-link {
  color: #e8496e; }

.navbar-light .navbar-nav .nav-link:hover {
  color: #a615ee;
  font-size: 38px;
  transition: all .2s; }

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 1rem;
  padding-left: 1rem; }

/* Headings */
h1 {
  font-family: 'Pathway Gothic One', sans-serif;
  text-align: center;
  font-size: 45px;
  padding-bottom: 15px; }

.tituloObrasVenta {
  width: auto;
  height: 130PX;
  background-color: #f0e19d; }

h2 {
  font-family: 'Pathway Gothic One', sans-serif;
  color: #fcfffd;
  text-align: center;
  font-size: 45px;
  padding-top: 40px;
  padding-bottom: 40px; }

/* Index.html */
.parrafohome .parrafohome__parrafo {
  background-color: #e5cf76;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 35px;
  text-align: center;
  color: #fcfffd;
  padding-top: 60px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px; }

/* Footer */
.footer {
  background-color: #fcfdfd;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 30px;
  color: #545454;
  padding-top: 100px;
  padding-bottom: 0px; }
  .footer .footer__h4 {
    padding-top: 10px; }

.card {
  background-color: #eaa9bb;
  padding-bottom: 30px; }

.grid {
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: 300px 300px 300px 300px;
  grid-template-rows: 482px 482px 482px;
  justify-content: space-around;
  padding-top: 80px; }

/* Pinturas.html */
.paints {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 5rem; }

.paint {
  width: 370px;
  height: 500px;
  padding: 2rem;
  -webkit-transition: all .9s ease; }

.paint:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1); }

/* Biografía.html */
.sobreMi .sobreMI__sobreMiFoto {
  margin-left: auto;
  margin-right: auto; }

.sobreMi .mx-auto img {
  padding-bottom: 50px; }

.sobreMi .sobreMi__acercaDeMi {
  background-color: #e5cf76;
  clear: left;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 35px;
  text-align: center;
  color: white;
  padding-top: 50px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px; }

/* Contacto.html */
#fotoContacto {
  float: left;
  padding-left: 200px;
  padding-right: 100px;
  padding-bottom: 100px; }

#formularioContacto {
  font-family: 'Pathway Gothic One', sans-serif;
  align-content: space-between;
  padding-top: 80px;
  padding-bottom: 170px; }

/* Tienda.html */
#ventas {
  display: flex;
  flex-wrap: wrap; }

.TituloObra {
  padding-top: 10px;
  text-align: center;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 20px; }

.venta1 {
  width: 460px;
  height: 780px;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 40px; }

.venta2 {
  width: 460px;
  height: 780px;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 40px; }
  .venta2 .section {
    text-align: center;
    font-family: 'Pathway Gothic One', sans-serif; }

.venta3 {
  width: 460px;
  height: 780px;
  padding-right: 10px;
  padding-left: 46px;
  padding-top: 40px; }
  .venta3 .section {
    text-align: center;
    font-family: 'Pathway Gothic One', sans-serif; }

.venta4 {
  width: 460px;
  height: 780px;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 40px; }
  .venta4 .section {
    text-align: center;
    font-family: 'Pathway Gothic One', sans-serif; }

.venta5 {
  width: 460px;
  height: 780px;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 40px; }

.venta6 {
  width: 460px;
  height: 780px;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 40px; }

.venta7 {
  width: 460px;
  height: 780px;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 40px; }

.venta8 {
  width: 460px;
  height: 780px;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 40px; }

.venta9 {
  width: 460px;
  height: 780px;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 40px; }
